body
{
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ebebeb;
    font-size:14px;
    font-family:Verdana;
}

.menu_ul{
  list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
background-color: #333333;
}
.menu_li
{
  float: left;
}
.menu_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.menu_li a:hover {
  background-color: #111111;
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color:#45a049;
}
.list_of_characters{
  background-color: blue;
   height: 200px;
   width: 250px;
}
